body
{
    background-color: rgb(129, 115, 255) ;
}

table 
{
    width: 100%;
    border-collapse: collapse;
}

th
{
    text-align: left;
    background-color: lightcoral;
    padding: 10px;
    border: solid 1px #d64d4d;
}

tr:nth-child(2n)
{
    background-color:lightgrey;
}

tr:nth-child(2n+1)
{
    background-color: whitesmoke;
}

td
{
    border: solid 1px #d64d4d;
    padding: 10px;
}