
#barra
{
    width: 100%;
    padding: 10px;
    border: 0;
    margin: 0;
    background-color: cadetblue;
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
}

#barra ul
{
    margin: 0;
    padding: 0;
}

#barra ul li
{
    display: inline;    
}

#barra ul li a
{
    padding: 10px;
    display: inline;    
    text-decoration: none;
    color: black;
    font-size: large;
}

#barra ul li a:hover
{
    padding: 10px;
    display: inline;    
    text-decoration: none;
    color: black;
    font-size: large;
    background-color: brown;    
}

.texto
{
    margin-top: 30px;
    font-size: 90px;
}