body
{
    background-color: antiquewhite;
}

.caja
{
    box-shadow: 0px 1px 2px rgba(1, 1, 1, 0.5);
    width: 200px;
    padding: 5px;
    background-color: white;
    transition: 0.3s;
    text-align: center;
}

.caja1
{
    border-left: solid tomato 1px;
}

.caja1:hover
{
    transform: scale(1.03);
}

.caja2
{
    border-left: solid green 1px;
}

.caja2:hover
{
    box-shadow: 0px 1px 5px rgb(1, 1, 1);
}

.caja3
{
    border-left: solid rgb(99, 99, 255) 1px;
}

.caja3:hover
{
    background-color: rgb(208, 208, 255);
}